@tailwind base;
@tailwind components;
@tailwind utilities;

/* no podemos incluir los breack de responsive desing */
/* Aplicamos todas las clases al elemento */
h2 {
    @apply font-sans text-3xl font-semibold mb-3
}

p {
    @apply font-serif leading-10 mb-3 -ml-3
}

li {
    @apply font-mono italic text-sm
}